bt==0.2.5
certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
decorator==4.1.2
ffn==0.3.2
fix-yahoo-finance==0.0.7
functools32==3.2.3.post2
future==0.16.0
idna==2.6
matplotlib==2.0.2
numpy==1.13.1
pandas==0.20.3
pandas-datareader==0.5.0
pyodbc==4.0.17
pyparsing==2.2.0
PyPrind==2.11.1
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
requests-file==1.4.2
requests-ftp==0.3.1
scikit-learn==0.19.0
scipy==0.19.1
six==1.10.0
subprocess32==3.2.7
tabulate==0.7.7
urllib3==1.26.5
